@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: hsl(0, 0%, 8%);
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 382px;
    background: hsl(0, 0%, 12%);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 39px;
    border-radius: 10px;
}

.profile {
    width: 90px;
    border-radius: 50%;
}

h2 {
margin: 1rem 0 0.75rem 0;
   font-weight: 600;
   font-size: 1.5rem; 
}

h3 {
   font-weight: 700;
   font-size: 14px;
   color: hsl(75, 94%, 57%); 
}

h4 {
    margin: 1.5rem 0 1.5rem 0;
    font-weight: 400;
    font-size: 14px; 
 }

ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

li {
    list-style-type: none; /* Remove bullets */
    
    
    /* height: 45px; */
    text-align: center;
}


 a.btn {
    display: block;
    /* width: 100%; */
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 0.75rem;
    background: hsl(0, 0%, 20%);
    border-radius: 5px;
 }

a.btn:hover {
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
a.btn:focus {
    stroke: hsl(75, 94%, 57%);
    /* color: hsl(0, 0%, 12%); */
}

footer {
    margin-top: 3rem;
    width: 100%;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    /* For screen sizes less than or equal to 480px (most likely a mobile device), the body element's font size will be set to 12px and the #photo element's width will be set to 100% */
@media only screen and (max-width: 450px) {
    

    main {
        width: 325px;
    }

    h4 {
        font-size: 12px; 
     }
    
  }